/build.xml
classes
nbproject
analysis
lexer
node
parser
/manifest.mf
/dist/tiny.jar
/dist/README.TXT
/build/built-jar.properties
/build/
/dist/
/programs/code/*.py
/programs/valid/type/*.py
/programs/valid/typechecker/*.py
*.symtab
*.pptype.go
*.py
